body {
  width: 100%;
  height: 100%;
  background-color: #f8f9fa;
}

.auth-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: white;
}

.account-card {
  margin-top: 50px;
}